<br />
<br />
<article class="message is-danger">
    <div class="message-header">
        <p>Error</p>
    </div>
    <div class="message-body">
        @ViewData["ErrorMessage"]
    </div>
</article>
<div class="field">
    <div class="control">
        <a class="button is-link is-light" asp-controller="Site" asp-action="Home">Back to Home</a>
    </div>
</div>
