<br />
<br />
<h1 class="title has-text-centered">CelestialBodies_MVC</h1>
<br />
<div class="has-text-centered">
    <img style="box-shadow: 0px 0px 10px #666666;" src="img/solar_system.png" />
</div>
